body{
    background-color: #f5f5f5;
}
.font_small{
    font: 0.8rem ºÚÌå;
}
.my_header,.my_footer{
    width: 100%;
    margin-top: 5px;
}
@media (min-width: 992px) {
    .my_header{height: 7rem;}
    .my_footer{height: 23rem}
}
@media (max-width: 991px) {
    .my_header{height: 12rem;}
    .my_footer{height: 40rem;}
}